@Scripts.Render("~/Scripts/jsTree")
@Styles.Render("~/Content/jsTree")
@if (Request.IsAuthenticated == false) {
     Response.Redirect("~/Account/Login");

}
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Message</h1>
                </hgroup>

            </div>
        </section>
    }
<html>
<head>
    <meta charset="utf-8">
    <title>Content</title>         
    <script type="text/javascript">  

        var fileList = new Array;
        
        function replaceAt(s, n, t) {
            return s.substring(0, n) + t + s.substring(n + 1);
        }
        function deleteItem(number) {
            var tmp = number;
            fileList.splice(number, 1);
            if (number < 10) {
                for (var i = number; i < fileList.length; i++) {                      
                    tmp++;                    
                    fileList[i] = fileList[i].replace('id=\"' + tmp + '\"', 'id=\"' + i + '\"')
                }
            }
            document.getElementById('selectedFileList').innerHTML = fileList.join("");
        }
    $(document).ready(function () {
        $('#MainTree').fileTree({
            root: 'C:/Users/',
            script: '../Scripts/jqueryFileTree.aspx',
            multiSelect: true,
            multiFolder: false,
            folderEvent: 'dblclick'
        }, function (file) {
            var found = false;
            var position = null;
            for (var i = 0; i < fileList.length; i++) {                
                if (fileList[i] == '<li ondblclick=\"deleteItem(this.id)\" id=\"' + i + '\">' + file + '</li>') {
                    found = true;
                    position = i;                    
                    break;
                }
            }
            if (found == true) {
                var tmp = position;
                fileList.splice(position, 1);
                for (var i = position; i < fileList.length; i++) {
                    tmp++;                   
                    fileList[i] = fileList[i].replace('id=\"' + tmp + '\"', 'id=\"' + i + '\"')
                }
            }
            else {
                fileList.push('<li ondblclick=\"deleteItem(this.id)\" id=\"' + i + '\">' + file + '</li>');
            } 
            fileList.forEach(function (file) {
                console.log(file);
            });            
            document.getElementById('selectedFileList').innerHTML = fileList.join("");
        }, function (dir) {
            console.log(dir);
        });
    });
    
    </script>

</head>
<body> 
    <div class="outer">
    <div class="innerwrap">
            <div id="MainTree"></div>
            <div id="selectedFileList"></div>
        </div></div>    
</body>
</html>  