@Scripts.Render("~/Scripts/jsTree")
@Styles.Render("~/Content/jsTree")
@if (Request.IsAuthenticated == false) {
     Response.Redirect("~/Account/Login");

}
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Message</h1>
                </hgroup>

            </div>
        </section>
    }
<html>
<head>
    <meta charset="utf-8">
    <title>Content</title>         
    <script type="text/javascript">  

        var fileList = new Array;
        var htmlList = new Array;
        //function replaceAt(s, n, t) {
        //    return s.substring(0, n) + t + s.substring(n + 1);
        //}
        function deleteItem(number) {
            var tmp = number;
            htmlList.splice(number, 1);
            fileList.splice(number, 1);
            for (var i = number; i < htmlList.length; i++) {                      
                tmp++;                    
                htmlList[i] = htmlList[i].replace('id=\"' + tmp + '\"', 'id=\"' + i + '\"')
            }
            console.log(fileList);
            document.getElementById('selectedFileList').innerHTML = htmlList.join("");
        }
    $(document).ready(function () {
        $('#MainTree').fileTree({
            root: 'C:/Users/',
            script: '../Scripts/jqueryFileTree.aspx',
            multiSelect: true,
            multiFolder: false,
            folderEvent: 'dblclick'
        }, function (file) {
            var found = false;
            var position = null;
            for (var i = 0; i < htmlList.length; i++) {                
                if (htmlList[i] == '<li ondblclick=\"deleteItem(this.id)\" id=\"' + i + '\">' + file + '</li>') {
                    found = true;
                    position = i;                    
                    break;
                }
            }
            if (found == true) {
                var tmp = position;
                htmlList.splice(position, 1);
                fileList.splice(position, 1);
                for (var i = position; i < htmlList.length; i++) {
                    tmp++;                   
                    htmlList[i] = htmlList[i].replace('id=\"' + tmp + '\"', 'id=\"' + i + '\"')
                }
            }
            else {
                htmlList.push('<li ondblclick=\"deleteItem(this.id)\" id=\"' + i + '\">' + file + '</li>');
                fileList.push(file);
            }       
            console.log(fileList);
            document.getElementById('selectedFileList').innerHTML = htmlList.join("");
        }, function (dir) {
            console.log(dir);
        });
    });
    
    </script>

</head>
<body> 
    <div><table id="labels">
        <tr>
            <td>Files & Folders</td>
            <td>Files For Download</td>
        </tr>    
    </table></div>
    <div class="outer">
    <div class="innerwrap">
            <div id="MainTree"></div>
            <div id="selectedFileList"></div>
        </div></div>    
</body>
</html>  