@model Stardome.Models.LostPasswordModel
@{
    ViewBag.Title = "Lost Password";
}



@if (ViewBag.EmailSend == false)
{
    <h1>Password Recovery</h1>
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <fieldset>
            <legend>Lost Password Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                </li>
            </ol>
            <input type="submit" value="Email Link" />
        </fieldset>
      }

}
else
{
    <span> An email has been send to your email address. Please check your email for instructions on resetting the password</span>
}
