
div .outer {    
    width: 820px;   
    overflow:auto;   
    /*border:2px solid lightblue;*/ 
    padding:10px;
    margin: 0 auto;
}

div .innerwrap {
    width:100%;
}
#MainTree {    
    width:50%; 
    height: 400px;   
    overflow:auto;
    /*border:2px solid salmon;*/ 
    float:left;
}

#selectedFileList {
    width:400px; 
    height:auto; 
    overflow:hidden; 
    text-align:left;  
    /*border:2px solid salmon;*/ 
    float:left;
}

#selectedFileList li {
    cursor: pointer;
    list-style-type: none;
    padding: 3px;
    font-weight: bold; 

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#selectedFileList li:hover {    
    color: red;
    font-weight: bold; 
    font-style: italic;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#labels {
    width: 820px;
    /*padding:10px;*/
    margin: 0 auto;
    margin-bottom: 10px;
}

#labels td {
    width: 50%;
    padding: 0px;
    text-align: left;
    font-weight: bold;
    font-size: 165%;
    font-family: Georgia;
}

