
div .outer {    
    width: 820px;   
    overflow:auto;   
    /*border:2px solid lightblue;*/ 
    padding:10px;
    margin: 0 auto;
}

div .innerwrap {
    width:100%;
}
#MainTree {    
    width:50%; 
    height: 400px;   
    overflow:auto;
    /*border:2px solid salmon;*/ 
    float:left;
}

#selectedFileList {
    width:400px; 
    height:auto; 
    overflow:hidden; 
    text-align:left;  
    /*border:2px solid salmon;*/ 
    float:left;
}