
@if (Request.IsAuthenticated == false) {
     Response.Redirect("~/Account/Login");

}
    @{
    ViewBag.Title = "Home Page";
    }
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                    <h2>@ViewBag.Message</h2>
                </hgroup>

            </div>
        </section>
    }
<html>
<head>
    <meta charset="utf-8">
    <title>jsTree test</title>     

    <script type="text/javascript">
        $(function () {
            $('#MainTree').jstree({
                "json_data": {
                    "ajax": {
                        "url": "../Scripts/jqueryFileTree.aspx",
                        "type": "POST",
                        "dataType": "json",
                        "contentType": "application/json charset=utf-8"
                    }
                },
                "themes": {
                    "theme": "default",
                    "dots": false,
                    "icons": true,
                    "url": "~/Content/themes/jsTree/style.css"
                },

                "plugins": ["themes", "json_data", "dnd", "contextmenu", "ui", "crrm"]

            });
        // 6 create an instance when the DOM is ready
    //    $('#tree').jstree({
    //        "json_data": {
    //            "ajax": {
    //                "url": "C:/Windows",
    //                "type": "POST",
    //                "dataType": "json",
    //                "contentType": "application/json charset=utf-8"
    //            }
    //        },
    //        "core": {
    //            "check_callback": true,
    //            "themes": {
    //                "theme": "media",
    //                "dots": true,
    //                "icons": true,
    //                "variant": "large"
    //            }
    //        },
    //        "checkbox": {
    //            "keep_selected_style": false
    //        },
    //        "plugins": ["themes", "json_data", "checkbox", "dnd", "contextmenu", "ui", "crrm"]
    //    });
    //    // 7 bind to events triggered on the tree
    //    $('#tree').on("changed.tree", function (e, data) {
    //        console.log(data.selected);
    //    });
    //    // 8 interact with the tree - either way is OK
    //    $('button').on('click', function () {
    //        $('#tree').jstree(true).select_node('child_node_1');
    //        $('#tree').jstree('select_node', 'child_node_1');
    //        $.jstree.reference('#tree').select_node('child_node_1');
    //    });
        
    //});
    //function openFile(file) {
    //    window.location = file;
    //}
    //$(document).ready(function () {
    //    $('#MainTree').fileTree({
    //        root: 'C:/Users/',
    //        script: '../Scripts/jqueryFileTree.aspx'
    //    }, function (file) {
    //        openFile(file);
    //    });
    //});
    </script>

</head>
<body>
    <!-- 3 setup a container element -->
    <div id="MainTree">          
        @*<ul>
            <li>Root node 1
                <ul>
                    <li id="child_node_1">Child node 1</li>
                    <li>Child node 2</li>
                </ul>
            </li>
            <li>Root node 2</li>
        </ul>*@       
    </div>    
    <script>
        
        
       
    </script>
</body>
</html>  

  