@if (Request.IsAuthenticated == false)
{
    Response.Redirect("~/Account/Login");
}

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>

        </div>
    </section>
}

<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Use This page to manage site Settings
    </li>


</ol>